#eredmeny{
    border: 1px solid black;
    width: 100%;
    height: 42vw;
    display: flex;
	background-color: #5E460E;
}

#kartyabox{
    border: 4px solid rgb(27, 24, 12);
    margin: 10px;
    width: 100%; 
    height: 20vw;
	background-color: #C08600;
	background-image: url("https://i.pinimg.com/originals/4a/03/b8/4a03b886e588620dccd4bc87dc126223.jpg");
    background-size: cover;
    
}
#pontbox{
    border: 4px solid rgb(27, 24, 12);
    margin: 10px;
    width: 100%;
    height: 20vw;
	background-image: url("https://www.britishmuseum.org/sites/default/files/styles/uncropped_small/public/2019-11/Hoxne-hoard%2C-group-shot-of-mass-of-coins%20british%20museum.jpg?itok=yfXYaonU");

    
}
#tabla{
    border: 2px solid rgb(2, 53, 19);
    width: 50%;
    height: 40vw;
    float: left;
    display: flex;
    flex-direction: column;


    
}
#korokbox{
    border: 2px solid rgb(51, 51, 51);
    margin: 10px;
    width: 19%;
    height: 40vw;
	background-image: url("https://i.pinimg.com/736x/35/de/24/35de2403ada4d0d4d305691e6ceff9f8.jpg") ;
}

#leftside{
    width: 30%;
    height: 40vw;
}

.sordiv{
    display: flex;
    flex-direction: row;
    height: 8vw;
    background-image: url("https://images.contentstack.io/v3/assets/blt3840fc786435e65e/blt953a26bf776f175c/6363b40032031b1042c62d27/photo_14598_(1).jpg");
}

.oszlopdiv{
    width: 16.6%;
    margin: 5px;
    border: 2px solid rgb(0, 3, 0);
    background-image:url("https://storage.needpix.com/rsynced_images/rocks-1611959_1280.jpg");
}

img{
    width: 100%;
}
