#eredmeny{
    border: 1px solid black;
    width: 100%;
    height: 42vw;
    display: flex;
	background-color: #5E460E;
}

#kartyabox{
    border: 2px solid red;
    margin: 10px;
    width: 100%; 
    height: 20vw;
	background-color: #C08600;
	
    
}
#pontbox{
    border: 2px solid red;
    margin: 10px;
    width: 100%;
    height: 20vw;
	background-color: #C08600;

    
}
#tabla{
    border: 2px solid red;
    width: 50%;
    height: 40vw;
    float: left;
    display: flex;
    flex-direction: column;


    
}
#korokbox{
    border: 2px solid red;
    margin: 10px;
    width: 19%;
    height: 40vw;
	background-color: #D5D2CB;
}

#leftside{
    width: 30%;
    height: 40vw;
}

.sordiv{
    display: flex;
    flex-direction: row;
    height: 8vw;
    background-color: rgb(59, 201, 59);
}

.oszlopdiv{
    width: 16.6%;
    margin: 5px;
    border: 2px solid rgb(0, 3, 0);
    background-color: rgb(7, 102, 7);
}

img{
    width: 100%;
}


